:host {
  display: contents;
}

:host(.favorites-button-host) ::ng-deep .button {
  width: var(--dp__32);
  height: var(--dp__32);
  padding: 0;
  color: var(--colors__primary);
  background-color: unset;
  min-width: unset;

  &:disabled {
    background-color: unset;
    color: var(--colors__primary);
  }
}

:host(.favorites-button-host) ::ng-deep .mdc-button__label {
  display: contents;
}

.icon {
  width: 100%;
  height: 100%;

  &_hidden {
    opacity: 0;
  }
}
